pip
bumpversion
wheel
watchdog
flake8
tox
coverage
Sphinx==1.8.2
cryptography
PyYAML
pytest
pytest-runner
twine
botocore==1.13.49
pytest-mock
pytest-html
tox-pyenv
moto
behave==1.2.5
PyHamcrest==1.9.0
cfn-lint
sphinx_rtd_theme
ansible<2.9
