bumpversion
wheel
watchdog
flake8
tox
coverage
Sphinx==1.8.2
cryptography
PyYAML
pytest
pytest-runner
twine
botocore
pytest-mock
pytest-html
tox-pyenv
moto
behave
PyHamcrest
cfn-lint==0.26.0
sphinx_rtd_theme
ansible<2.9
