bumpversion
wheel
watchdog
flake8
tox
coverage
Sphinx
cryptography==2.7
PyYAML
pytest
pytest-runner
twine
botocore
pytest-mock
pytest-html
tox-pyenv
moto
behave
PyHamcrest
cfn-lint
sphinx_rtd_theme
ansible<2.9
