{
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Description" : "AWS CloudFormation for S3VaultLib",
    "Parameters" : {
    },
    "Resources" : {
    {{ roles }},
    {{ kms }},
    {{ bucket_policy }}
    },
    "Outputs" : {
    }
}
